FR: export aggregated calendars as ICS feeds, to improve accuracy of external systems

(Please note that the description below uses Google just as an example, but there is nothing specific to Google about this feature request.)

## Problem description

I have several Google accounts, some for work, some for personal use.  Each has multiple calendars.  If a work colleague wants to book me for a work meeting, they currently have two choices:

1. Book my time through the work GSuite Calendar.
2. Book my time through cal.com.

Currently neither of these works well:

1. The first has the problems that it ignores any commitments I may have outside my Google Calendars for that work account, so I end up with clashes between work and personal stuff (or worse, between two separate professional engagements).
2. The second works OK for booking 1-on-1s with me (although it is not perfect due to #3643).  However, if my colleague wants to book a meeting with several team members, he cannot see all of our availability in a single place.  Ideally he would be able to use [GSuite's "Find a time" feature](https://gsuitetips.com/tips/calendar/find-a-time-in-google-calendar/) to easily see which times all team members are available, without having to worry whether I or any others of those team members have some hidden personal commitments.

## Describe the solution you'd like

### Architectural concept

The idea is that cal.com is essentially a tool for aggregating multiple sources of event data into a single focal point, and then making that aggregated data more accessible and useful.  So from an architectural perspective it seems like the perfect place to implement a feature to allow re-exporting of that aggregated data.  In other words, if cal.com is the hub at the center of the user's scheduling world, and all of the user's other calendars are the spokes, then it would be very powerful if data could flow not only inwards to the hub, but also back out along the spokes.

### Implementation details

cal.com should offer a way to export an ICS feed URL containing aggregated event data from all of the user's calendars, which can then be reimported into a separate calendars in other external systems, to give those systems reliable data.  This feed export could be configurable so that the user can specify which data about each of the aggregated events is exported, e.g.

- Busy times only, with no other info about each event other than start/end times.
- Event titles and start/end times only
- Full event data (times, titles, description, location, guest list etc.)

So for example, if it only exports times at which I'm busy, then I can import that ICS back into my work GSuite account as a separate calendar, and then my work colleagues can see when I'm busy with work and non-work commitments just by looking at their normal work Google Calendar, and they'll never end up double-booking me.

### Describe alternatives you've considered

1. Move all my personal calendar data into my work calendar.  This is not anywhere close to being a reasonable solution, since:

    - I have multiple work calendars anyway, with contractual obligations not to share confidential data between them.
    - It would be a gigantic breach of personal privacy.
    - I have about 40 personal calendars from various sources (many of which are ICS feeds from external sources outside my control).

2. Extend cal.com to allow arbitrary group scheduling, where not participants have a cal.com account.  ([Dynamic group links](https://github.com/calcom/cal.com/pull/2239) are an awesome feature, but only work when all participants are already on cal.com.)  I think this is well worth doing _in addition to the ICS export_, but it's a much more complicated problem.  The only time I saw it solved really well was with x.ai, which got acquired by Bizzabo and then killed.  I will file a separate issue for that at some point.

### Additional context

The feature described above is a slightly simplified version.  It would already be extremely useful, but there are a few ways in which it could be extended for even more polish:

- Allow multiple ICS feed exports, each of which can be configured differently.
- Allow a choice of which calendars' events are included in the export.  For example, if my cal.com is connected to three calendars `JOB1`, `JOB2`, and `PERSONAL`, then I would want to be able to export:
    - a feed of anonymised events of `JOB2` and `PERSONAL` into my `JOB1` Google Calendar account, and
    - a feed of anonymised events of `JOB1` and `PERSONAL` into my `JOB2` Google Calendar account.
  This selective approach would avoid having undesirable duplicate events in my work calendars.  Without it, any events on the `JOB1` calendar would appear twice: once from the original event definition, and once as an anonymised event which was imported into cal.com and then re-exported back to the original work account.

I strongly agree that these would be valuable features

I have discovered that one of cal.com's competitors, reclaim.ai, already offers more or less this functionality:

https://reclaim.ai/features/calendar-sync

To understand it in detail, read the #1 section near the top of https://reclaim.ai/blog/10-google-calendar-issues-you-didnt-know-you-had 

> I have discovered that one of cal.com's competitors, reclaim.ai, already offers more or less this functionality:
> 
> https://reclaim.ai/features/calendar-sync
> 
> To understand it in detail, read the #1 section near the top of https://reclaim.ai/blog/10-google-calendar-issues-you-didnt-know-you-had

Interesting! tho i dont think reclaim is a competitor, this seems quite useful

@PeerRich Glad you found it interesting and useful!

TBH I'm quite surprised you don't see reclaim.ai as a competitor.  A key feature of both products (I'd argue the most important one) is allowing Alice to _safely_ book a time slot with Bob even when Bob's commitments are spread across multiple calendars (e.g. personal and work), some or all of which Alice doesn't have access to.

**As much as I love cal.com and desperately want to be able to ditch all other calendar tooling outside Google Calendar, unfortunately it simply doesn't yet achieve what I need, for the reasons described above.**  And I'm not alone; everyone else in my team is suffering from the same problem.

Consequently for now I have to reluctantly use reclaim.ai rather than cal.com to keep my colleagues happy.  reclaim.ai also has several other really nice features over cal.com, but even so I would prefer to use cal.com if only it could crack this particular problem.

My experience is that most people don't want to be asked to visit someone else's booking page on cal.com / calendly etc. (which is often unfamiliar to them).  Instead, they want to be able to book other people's time through the system they are used to.  For example, my colleagues are all used to booking each other's time through our shared Google Workspace calendars.  So when I ask them to do it through one of my cal.com links, that adds extra friction they really don't want, _especially_ when they are trying to find a slot for multiple people not just me.

In my view, two of the most important features by far which any modern booking system needs are:

## 1. The ability to calculate an individual's availability by aggregating free/busy data from multiple sources

cal.com already does a great job of this, so there's not much to say here.

## 2. Group bookings

The ability to aggregate free/busy availability data from multiple people is required so that a common time can be found when the invitees of an event are all (or at least mostly) free.  This is absolutely essential in countless scenarios where any collection of people need to collaborate.  (To fully understand this use case, please imagine a scenario where **at least 7 people from different organisations with different calendaring technology** all need to find a common time slot.)

cal.com and most of its competitors are currently very weak in this regard.

Unfortunately even in 2022 calendaring technology and standards are not at the point where there can be a general solution to this, because when creating an event invite in any calendaring tool, there is no generalised way to map an invitee's email address to a [`VFREEBUSY`](https://www.kanzaki.com/docs/ical/vfreebusy.html) record representing their availability (but see 2.4. below for thoughts on how this could be done).

In cal.com's case, it only knows the availability of its own users, therefore even though dynamic bookings links are a really nice feature, it only takes adding one person who doesn't use cal.com to the invite list to derail the booking process and make it impossible to find a mutual time that works for all invitees.

Other rivals generally have the same problem.  So how to solve it?  I can think of the following options:

### 2.1. Redirect everyone to a common booking web page

This is the doodle / lettucemeet approach, although of course those tools are both awful because they require participants to manually input their availability.  cal.com could do this much better if it knew the availability of some participants, but it would still typically be limited by not knowing the availability of _all_ participants.

### 2.2. Export availability data to a shared calendar

This is the reclaim.ai approach: automatically sync free/busy data to a Google Workspace Calendar accessible by the rest of your team, and then they can make bookings involving multiple people via the shared Google Workspace.  This works great within teams, but fails miserably when involving people from multiple organizations.

### 2.3. Combine 2.1. and 2.2.

This was the x.ai approach, before they got acquired and then abruptly killed off by Bizzabo.  To be honest it was the best solution to the problem I have ever seen:

- Ask users to authorize x.ai access to their Google (or other) Calendars, so that it could obtain availability data.
- When authorized, use Google (or other) APIs to also determine the availability of colleagues of the x.ai users, even if those colleagues hadn't yet signed up to x.ai.  (This was still within the bounds of what Google's APIs and privacy policies permitted.)
- To help find an event time which worked for all invitees, x.ai would first use the above techniques to gather as much availability data as it could, and thus rule out any time slots which some (non-optional) invitees couldn't make.
- Then it would email the other invitees with a list of the remaining slots, asking them to choose which ones worked for them.
- When an invitee clicked on any slots in this email, it would redirect them to a booking web page to gather their availability.
- As each remaining invitee responded, the available slots would get narrowed down even further, thereby reducing the number of options that each subsequent respondent would have to consider, making their response as quick and painless as possible.

This combination of a) gathering as much free/busy data as possible automatically, and b) gathering the remaining data manually via emails redirecting to a shared booking web page, was a best in class solution.  Their AI parsing of natural language booking requests was a nice addition too, but that was the sugar on top rather than the core value add.

However I believe there is still an even better long-term approach:

### 2.4. Introduce / implement internet standards for mapping email addresses to free/busy data

Calendar services should be able to respond to requests for free/busy data via one or more of:

- [RFC 6638: Scheduling Extensions to CalDAV](https://www.rfc-editor.org/rfc/rfc6638)
- [RFC 5546: iCalendar Transport-Independent Interoperability Protocol (iTIP)](https://www.rfc-editor.org/rfc/rfc5546)
- [RFC 6047: iCalendar Message-Based Interoperability Protocol (iMIP)](https://www.rfc-editor.org/rfc/rfc6047)

I could imagine a utopian future where cal.com utilises these standards to act as the interoperability layer between non-interoperable proprietary services which are not standards compliant, e.g.:

- exposing availability via ICS feeds and CalDAV / iTIP endpoints to services which know how to consume those
- consuming availability from services which provide it (as per #2054 and #3167)

However, even where services are able to provide free/busy data on request, there is the question of how to locate a service given nothing more than an invitee's email address.  iMIP (linked above) seems to be one solution to this.  Another might be a new standard for a type of DNS record which allows mapping of an email address to a service providing free/busy data.  For example, to determine free/busy data for joe@example.com, look for a `TXT` DNS record for `_caldav.example.com` and its contents could provide a CalDAV endpoint or similar for that person's availability.

Hope these architectural ramblings are of use ;-)

One new learning from https://reclaim.ai/blog/10-google-calendar-issues-you-didnt-know-you-had is that unfortunately the solution I originally proposed above probably won't work:

> So for example, if it only exports times at which I'm busy, then I can import that ICS back into my work GSuite account as a separate calendar, and then my work colleagues can see when I'm busy with work and non-work commitments just by looking at their normal work Google Calendar, and they'll never end up double-booking me.

This is because importing a free/busy ICS feed as a secondary calendar won't affect the availability Google reports for me:

![image](https://user-images.githubusercontent.com/100738/198910376-f371f115-d080-46ac-a052-6719edb2d7ee.png)

reclaim.ai works around this by _synchronising_ (i.e. copying) events from other calendars onto the primary calendar.  But then any view which aggregates all your calendars ends up being [a mess full of duplicates](https://help.reclaim.ai/en/articles/3639940-seeing-duplicate-events-from-calendar-sync).  I've been [looking into open source solutions for this](https://github.com/HCAWN/gcal-multical-event-merge/issues/8#issuecomment-1296322843).

hey @aspiers i'm sorry to hear your team is struggling with this very specific issue. hearing this the first time.

calendar syncs are not *really* on our roadmap yet, see all the issues you outlined above. but if anyone wants to focus on this we are happy to accept PRs

closing this, i dont think we wanna go down the rabbit hole of syncing calendars. there is a reason why reclaim.ai exists etc.

I can understand where the original requester is coming from, but I want a way simpler version of this. 

I was hoping cal.com had a simple "export your calendar as an ICS feed" so that for all of my various client calendars, I could import it so that they would always know what my availability is. When they're using their internal calendar tools, it's a pain for them to go to my cal.com to verify that a space in my calendar is actually open. 